<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.goods.dao.GoodsDao">
    <select id="findGoods" resultType="com.cy.pj.goods.pojo.Goods">
        select id,name,remark,createdTime
        from tb_goods
        <where>
            <if test="name!=null and name!=''">
                name like concat ("%",#{name},"%")
            </if>
        </where>
    </select>
    
<!--    <delete id="deleteByIds">-->
<!--        DELETE-->
<!--        FROM tb_goods-->
<!--        <where>-->
<!--            id IN-->
<!--            <if test="ids!=null and ids.length>0">-->
<!--            <foreach collection="ids" item="id" separator="," open="(" close=")">-->
<!--                #{id}-->
<!--            </foreach>-->
<!--            </if>-->
<!--            or 1=2-->
<!--        </where>-->
<!--    </delete>-->

</mapper>