<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GoodsUI</title>
</head>
<body>
    <h1>THIS SCHOOL IS BULLSHITTTTT!!!!!!!</h1>
    <form>
        <input type="text" name="name">
        <input type="button" value="SEARCH" onclick="doQueryGoods()">
        <input type="button" value="ADD" onclick="doAddUI()">
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>REMARK</th>
                <th>CREATEDTIME</th>
                <th>OPERATION</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="G : ${list}">
                <td th:text="${G.id}">NO DATA</td>
                <td th:text="${G.name}">NO DATA</td>
                <td th:text="${G.remark}">NO DATA</td>
                <td th:text="${#dates.format(G.createdTime,'yyyy/MM/dd HH:mm')}">NO DATA</td>
                <td >
                    <button type="button" th:onclick="doDeleteById([[${G.id}]])">DELETE</button>
                    <button type="button" th:onclick="doFindById([[${G.id}]])">UPDATE</button>
                </td>
            </tr>
        </tbody>
    </table>
    <script>
        function doFindById(id) {
            location.href=`http://localhost:1919/doFindById/${id}`;
        }

        function doAddUI() {
            location.href=`http://localhost:1919/doAddUI`;
        }

        function doQueryGoods() {
            let name = document.forms[0].name.value;
            location.href=`http://localhost:1919/doFindGoods/${name}`;
        }

        function doDeleteById(id) {
            location.href=`http://localhost:1919/doDeleteById/${id}`;
        }
    </script>
</body>
</html>